* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F8EEFF;
    font-size: 16px;
}


.card {

    margin: 167px auto;
    width: 600px;
    min-height: 455px;
    background-color: white;
    border-radius: 16px;
    color: #301534;
}

.content {
    padding: 40px;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    padding-left: 24px;
}

hr {
    border-top: 1px solid #F8EEFF;
}

.question {
    padding: 24px 0;
}

.q1 {
    padding: 0 0 24px;
}

.q {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.q:hover {
    color: #AD28EB;
    cursor: pointer;
}

.answer {
    padding-top: 24px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.hide {
    display: none;
}

.mobile {
    display: none;
}

@media screen and (max-width:720px) {

    body {
        background-image: url(./assets/images/background-pattern-mobile.svg);
    }

    .card {
        width: 340px;
        min-height: 327px;
        margin: 100px auto;
    }

    .content {
        padding: 24px;
    }

    h1 {
        font-size: 32px;
    }

    .star {
        height: 24px;
        width: 24px;
    }

    .q {
        font-size: 16px;
    }

    .answer {
        font-size: 14px;
    }

    .question {
        padding: 20px 0;
    }

    .q1 {
        padding: 0 0 20px;
    }

    .mobile {
        display: inline;
    }

    .desktop {
        display: none;
    }

}